<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ccom.buddha.icbi.mapper.mapper.member.MemberInfoMapper">

	<select id="selectListMember" resultType="com.buddha.icbi.pojo.member.MemberInfo">
		SELECT * FROM member_info WHERE 1=1
		AND LEVEL != 0
		AND STATUS = 1
		AND is_certification = 2
	</select>
</mapper>
