<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buddha.icbi.mapper.mapper.company.CompanyInfoMapper">

	<!-- 查询附近公司信息 -->
	<select id="nearByCompanyList" resultType="com.buddha.icbi.pojo.company.CompanyInfo" parameterType="java.util.List">
		SELECT *, ROUND( SQRT(POW(69.1 * (latitude - #{latitude}), 2) + POW(69.1 * (#{longitude} - longitude) * COS(latitude / 57.3), 2) ),2) AS distance
			FROM company_info 
			WHERE 1=1 
			<if test="mids.size() > 0">
				AND member_id in <foreach collection="mids" index="index" item="item" open="(" separator="," close=")"> #{item} </foreach> 
			</if>
			HAVING distance &lt;= #{distance}
			ORDER BY distance ASC
	</select>
	
	<!-- 查询附近公司信息 状态查询-->
	<select id="nearCompany" resultType="com.buddha.icbi.pojo.company.CompanyInfo" parameterType="java.util.List">
		SELECT *, ROUND( SQRT(POW(69.1 * (latitude - #{latitude}), 2) + POW(69.1 * (#{longitude} - longitude) * COS(latitude / 57.3), 2) ),2) AS distance
			FROM company_info 
			WHERE 1=1 
			<if test="isCertification !=null and isCertification != '' ">
		 	AND is_certification = #{isCertification}
			</if>
			<if test="keyword != null and keyword != '' ">
			AND (
				company_tag LIKE CONCAT('%', #{keyword}, '%')
				OR
				real_name LIKE CONCAT('%', #{keyword}, '%')
				OR
				mobile LIKE CONCAT('%', #{keyword}, '%')
				OR
				company_name LIKE CONCAT('%', #{keyword}, '%')
			)
			</if>
			<if test="distance !=null and distance != '' ">
			HAVING distance &lt;= #{distance}
			</if>
			ORDER BY distance ASC
	</select>
	
	<select id="foreachTest" resultType="com.buddha.icbi.pojo.company.CompanyInfo" parameterType="java.util.List">
		SELECT * FROM company_info 
			WHERE 1=1 
			<if test="mids.size() > 0">
				AND member_id in <foreach collection="mids" index="index" item="item" open="(" separator="," close=")"> #{item} </foreach> 
			</if>
	</select>
</mapper>
