<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buddha.icbi.mapper.mapper.news.NewsInfoMapper">
	
	
	<!-- 查询附近风采列表-->
	<select id="listSearch" resultType="com.buddha.icbi.pojo.news.NewsInfo">
		SELECT *, ROUND( SQRT(POW(69.1 * (latitude - #{param.latitude}), 2) + POW(69.1 * (#{param.longitude} - longitude) * COS(latitude / 57.3), 2) ),2) AS distance
			FROM news_info 
			WHERE 1=1 
			<if test="param.status !=null and param.status != '' ">
		 	AND status = #{param.status}
			</if>
			<if test="param.type !=null and param.type != '' ">
		 	AND type = #{param.type}
			</if>
			<if test="param.keyword != null and param.keyword != '' ">
			AND  title LIKE CONCAT('%', #{param.keyword}, '%')
			</if>
			<if test="param.distance !=null and param.distance != '' ">
			HAVING distance &lt;= #{param.distance}
			</if>
			ORDER BY distance ASC
	</select>
	
</mapper>
